@font-face{
    font-family: okashi;
    src: url('../resources/fonts/okashi.regular.ttf');
}

html,body{
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url('../resources/bg3.gif');
    background-size: cover;
    font-family: okashi;
}
.menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    margin-inline: auto;
    width: fit-content;
}
.menu h2{
    font-weight: bold;
    font-size: 50px;
    color: white;
    

}
#selectchar button,.menu button{
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);

  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
  font-family: okashi;
  color: red;
}
#selectchar button:hover, .menu button:hover{
    transform: translateY(-0.33em);
}
#selectchar button:active, .menu button:active{
    transform: translateY(0);
}
#selectchar{
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    margin-inline: auto;
    width: fit-content;
}
#selectchar h2{
    font-weight: bold;
    font-size: 50px;
    color: white;
    
    
}
#container {
    position: relative;
}
#UI {
    position: absolute;
    width: 100%;
    left: 5.20%;
    z-index: 20;
}
#timer {
    position: absolute;
    display: none;
    height: 20px;
    width: 20px;
    font-size: 28px;
    left: 44%;
    top: 14.5%;
}
#P1healthbar, #P1bar, #P2healthbar, #P2bar {
    position: absolute;
    display: none;
    width: 34%;
    height: 30px;
}
#P1healthbar, #P2healthbar {
    background-color: green;
}
#P1bar, #P2bar {
    background-color: red;
}
#P1bar, #P1healthbar {
    left: 2.5%;
}
#P2bar, #P2healthbar {
    right: 15%;
}
#canvas{
    position: relative;
    z-index: 20;
}
#backgroundimg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#gameovertxt{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 28px;
    font-weight: bold;
    z-index: 20;

}